// Green color variables
$green-50: #f0fff4;
$green-100: #c7ffd7;
$green-200: #9effbd;
$green-300: #75ffa5;
$green-400: #4dff91;
$green-500: #22ff79;
$green-600: #13d168;
$green-700: #07ab56;
$green-800: #008546;
$green-900: #006e34;

// Red color variables
$red-700: #860300;
$red-600: #c80800;
$red-500: #e30f00;
$red-400: #d91c04;
$red-300: #ff3612;
$red-200: #ff5f3b;
$red-100: #ff8563;